// =====================
// TYPOGRAPHY SETTINGS
// =====================


// ==========================================
// STEP 1: Include the font using @font-face
// ==========================================
// Only woff is required when using webfonts: http://caniuse.com/#search=woff
// The following is example setup only:
// ==========================================

// @font-face {
//   font-family: "Gilroy Extra Bold";
//   font-weight: normal;
//   font-style: normal;
//   src: local("Gilroy ExtraBold"),
//        local("Gilroy-ExtraBold"),
//        url("/assets/fonts/gilroy/Gilroy-ExtraBold.woff") format("woff");
// }
$gilroy-extra-bold: "Gilroy Extra Bold", system-ui, sans-serif;

// @font-face {
//   font-family: "Gilroy Light";
//   font-weight: normal;
//   font-style: normal;
//   src: local("Gilroy Light"),
//        local("Gilroy-Light"),
//        url("/assets/fonts/gilroy/Gilroy-Light.woff") format("woff");
// }
$gilroy-light: "Gilroy Light", system-ui, sans-serif;



// ==========================================
// STEP 2: Setup variables and placeholders
// ==========================================
// The following is example setup only, however, 
// I do not recommend changing base-font-size
// ==========================================
$base-font-size:      16px;
$base-line-height:    1.5;
$base-line-height-sm: 1.2;

// Scale fonts up/down by the Golden Ratio
$size--up-2:   2.05811;  // $golden-ratio ^ (1/2);
$size--up-3:   2.618;    // $golden-ratio ^ (2/2);
$size--up-1:   1.27201;  // $golden-ratio ^ (3/2);
$size--down-1: 0.78616;  // $golden-ratio ^ (-1/2);
$size--down-2: 0.61805;  // $golden-ratio ^ (-2/2);

// Namespace element sizes if necessisary
$heading1:  $base-font-size * $size--up-3;
$heading2:  $base-font-size * $size--up-2;
$heading3:  $base-font-size * $size--up-1;
$heading4:  $base-font-size;
$heading5:  $base-font-size * $size--down-1;
$heading6:  $base-font-size * $size--down-2;
$lead:      $base-font-size * $size--up-2;
$paragraph: $base-font-size;
$small:     $base-font-size * $size--down-1;
$fineprint: $base-font-size * $size--down-2;



/// Base font styles
/// ============
/// @type Map
/// ============
/// @prop {String} font-family - font stack
/// @prop {String} font-style - string e.g. italic, bold, normal
/// @prop {String | Number} font-weight - string or number

$base-font-styles: (
  light: (
    font-family: #{$gilroy-light},
    font-style: normal,
    font-weight: lighter
  ),
  medium: (
    font-family: #{$gilroy-extra-bold},
    font-style: normal,
    font-weight: normal
  ),
  bold: (
    font-family: #{$gilroy-extra-bold},
    font-style: normal,
    font-weight: bold
  )
);



/// Base font dimensions
/// ============
/// @type Map
/// ============
/// @prop {Measurement} font-size - pixel measurement
/// @prop {Measurement?} line-height - optional pixel measurement
/// @prop {Measurement?} margin-top - optional pixel measurement
/// @prop {Measurement?} margin-bottom - optional pixel measurement
/// @prop {String?} font-family - optional, name MUST match one of the names supplied in $base-font-styles, e.g. light, medium, bold.

$base-font-dimensions: (
  h1: (
    font-size: $heading1,
    line-height: $heading1 * $base-line-height-sm,
    margin-top: 0px,
    margin-bottom: $base-font-size,
    font-family: bold
  ),
  h2: (
    font-size: $heading2,
    line-height: $heading2 * $base-line-height-sm,
    margin-top: 0px,
    margin-bottom: $base-font-size,
    font-family: bold
  ),
  h3: (
    font-size: $heading3,
    line-height: $heading3 * $base-line-height-sm,
    margin-top: 0px,
    margin-bottom: $base-font-size,
    font-family: bold
  ),
  h4: (
    font-size: $heading4,
    line-height: $heading4 * $base-line-height-sm,
    margin-top: 0px,
    margin-bottom: $base-font-size,
    font-family: bold
  ),
  h5: (
    font-size: $heading5,
    line-height: $heading5 * $base-line-height,
    margin-top: 0px,
    margin-bottom: $base-font-size,
    font-family: bold
  ),
  h6: (
    font-size: $heading6,
    line-height: $heading6 * $base-line-height,
    margin-top: 0px,
    margin-bottom: $base-font-size,
    font-family: bold
  ),
  lead: (
    font-size: $lead,
    line-height: $lead * $base-line-height-sm,
    margin-top: 0px,
    margin-bottom: $base-font-size,
    font-family: light
  ),
  p: (
    font-size: $paragraph,
    line-height: $paragraph * $base-line-height,
    margin-top: 0px,
    margin-bottom: $base-font-size,
  ),
  small: (
    font-size: $small,
    line-height: $small * $base-line-height,
  ),
  fineprint: (
    font-size: $fineprint,
    line-height: $fineprint * $base-line-height,
  )
);

// Print out font sizes in PX to the console:
// @debug "(h1) font-size: "+$heading1;
// @debug "(h2) font-size: "+$heading2;
// @debug "(h3) font-size: "+$heading3;
// @debug "(h4) font-size: "+$heading4;
// @debug "(h5) font-size: "+$heading5;
// @debug "(h6) font-size: "+$heading6;
// @debug "(lead) font-size: "+$lead;
// @debug "(p) font-size: "+$paragraph;
// @debug "(small) font-size: "+$small;
// @debug "(fineprint) font-size: "+$fineprint;
