// ============
// $CONTAINER
// ============

%Container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-gutter-sm;
  padding-right: $container-gutter-sm;

  @media #{$tablet} {
    padding-left: $container-gutter-lg;
    padding-right: $container-gutter-lg;
  }

  @if $fixed-breakpoints == true {
    @media #{$tablet} { width: rem($breakpoint1); }
    @media #{$laptop} { width: rem($breakpoint2); }
    @media #{$desktop} { width: rem($breakpoint3); }
    @media #{$widescreen} { width: rem($breakpoint4); }
  }
}

.Container { @extend %Container !optional; }
